[buildout]
parts = python django
develop = .
eggs =
    Mock
extra-paths =
    ${buildout:directory}
    ${buildout:directory}/parts/django/

[python]
recipe = zc.recipe.egg
interpreter = python
eggs = ${buildout:eggs}
extra-paths = ${buildout:extra-paths}

[django]
recipe = djangorecipe
project = example
version = f39c0b04c75bb4ea7326
git = true
eggs = ${buildout:eggs}
extra-paths = ${buildout:extra-paths}
